@import '../../../../node_modules/normalize.css/normalize.css';
@import '../variables.scss';
html {
    font-color: #222;
    font-size: 1em;
    font-family: $font-family-base;
    height: $height-full;
}

body {
    background: $background-color-base;
    height: $height-full;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
