@import '../variables.scss';
@import '../mixins.scss';
//@import '../../../node_modules/font-awesome/scss/font-awesome.scss';
.navbar {
    position: relative;
    min-height: 50px;
    background: $color-base;
    > .inner {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 7px 5px 5px 5px;
        > .navbar-header {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.navbar-header {
    float: left;
}

.sidebar-toggle {
    background: $background-color-base;
    border: 1px solid transparent;
    @media screen and (min-width: $screen-xs-min) {
        display: none;
    }
}
