@import '../variables.scss';

.friend-list {
    background-color: $background-color-base;
    padding: 0;
    >.friend-list-header {
        font-weight: bold;
    }
    >li {
        list-style-type: none;
        padding: 0.2em 1em 0.5em 2em;
        cursor: pointer;
        overflow: hidden;
        >.friend-name {
            margin-left: 0.7em;
        }
        >.online-status {
            position: relative;
            font-size: 0.6em;
            color: #25F555;
            bottom: 0.2em;
        }
    }
}
