@import '../variables.scss';
@import '../mixins.scss';

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    @media screen and (min-width: $screen-xs-min) {
    	@include right-layout;
    }
}
