@import '../variables.scss';
@import '../mixins.scss';
.header {
    position: absolute;
    width: 100%;
    min-height: 50px;
    @media screen and (min-width: $screen-xs-min) {
        @include right-layout;
    }
}
